body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.hero-section {
    background-image: url("header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.hero-text {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

#open-cookie-btn {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

#open-cookie-btn:hover {
    background-color: #9b9692;
}

#fortune-text {
    margin-top: 20px;
    font-size: 22px;
    font-style: italic;
    color: white;
}

.fortune-hidden {
    display: none;
}

.fortune-visible {
    display: block;
}

.generator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.generator img {
    max-width: 100px;
}

.generator-before img {
    display: block;
}

.generator-after {
    display: none;
    flex-direction: row;
    align-items: center;
}

.generator-message {
    padding: 10px;
    background-color: #fffbea;
    border: 1px solid #d4c8a2;
    margin: 0 10px;
}

.generator-message-txt {
    font-size: 18px;
    font-style: italic;
    color: #333;
}

#back-btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#back-btn:hover {
    background-color: #9b9692;
}

.social-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.social-buttons a {
    margin: 0 15px;
}

.social-buttons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.social-buttons a:hover img {
    opacity: 0.7;
}